header {
    background-color: black;
    align-items: center;
    padding: 10px;
  }
  
  .logo h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    text-align: center;
  }
  